Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL and NoSQL databases are two types of databases that differ in how the data is structured and accessed. SQL databases are table-based, while NoSQL databases are non-relational. This means that a SQL database contains structured data and can perform an analysis using a relational mode. A NoSQL database can contain key-value pairs, documents, or graph structures and can handle unstructured data and scalability better than SQL databases.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is the part of SQL that deals with creating, modifying and deleting the structure of database tables, columns, indexes, etc

CREATE: Used to create a new database object, such as a table.

DROP: Used to delete an existing database table.

ALTER: Used to modify an existing database object, such as adding, renaming or deleting a column in a table.

TRUNCATE: Used to delete all the data from a table, but not the table itself.

#Create
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists assignment")
mydb.close()

#Create
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Assignment.students(id INT, name VARCHAR(50), age INT)")
mydb.close()

#Alter
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
addColumn = "ALTER TABLE students ADD COLUMN email varchar(32)"
mycursor.execute(addColumn)
mydb.close()

#Drop
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS students")
print("Table dropped... ")
mydb.close()

#TRUNCATE
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE students")
print("Table Truncate... ")
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL commands that are used to insert, update, and delete data from a database.

INSERT: It is used to insert data into a table.

UPDATE: It is used to update existing data within a table.

DELETE: It is used to delete records from a database table.

#Create
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists assignment")
mydb.close()

#Create
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Assignment.students(id INT, name VARCHAR(50), age INT)")
mydb.close()

#Insert
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("insert into assignment.students values(1 , 'abcd' , 18 )")
mycursor.execute("insert into assignment.students values(2 , 'efgh' , 19 )")
mydb.close()

#UPDATE
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("UPDATE students SET name='abcd' WHERE id=1")
mydb.close()

#Delete
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM students WHERE id=1")
mydb.close()

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve data from a database.

SELECT: This command allows getting the data out of the database to perform operations with it.

#Select
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("select c1 , c3 from test2.test_table")
for i in mycursor.fetchall() : 
    print(i)
mydb.close()

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns that uniquely identifies each row in a table.
Only one primary key is allowed in a table.
It is a combination of UNIQUE and Not Null constraints.
It does not allow NULL values.

A foreign key is a column or a set of columns that refers to the primary key of another table, and establishes a relationship between the two tables.
Whereas more than one foreign key is allowed in a table.
It can contain duplicate values and a table in a relational database.
It can also contain NULL values.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

The cursor() and execute() methods are used to interact with a database using SQL commands. The cursor() method creates a cursor object that can execute SQL statements and fetch results from queries. The execute() method takes an SQL operation as an argument and executes it on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause